.p {
  width: 30%;
  height: 30vh;
  margin: 20px 10px;
  border: 2px solid #e7e7e7;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2d60a8;
  margin: 3px;
}

.p-img {
  width: 100%;
  object-fit: cover;
  display: flex;
}

.p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.25s;
  height: 100%;
  width: 100%;
}

.p-wrapper {
  position: relative;
}

.p-overlay:hover {
  opacity: 0;
}

.img-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.img-desc {
  font-family: "Open Sans", sans-serif;
  padding: 5px 70px;
  font-weight: 500;
}
