.c {
  height: 50vh;
  position: relative;
}

.c-bg {
  width: 30px;
  height: 100%;
  background-color: #373837;
  position: absolute;
}

.c-wrapper {
  padding: 70px 100px;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
}

.c-info {
  padding: 20px 0px;
}

.c-desc {
  font-size: 1.2rem;
  font-weight: 500;
}

.c-icon {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.c-info i {
  font-size: 2rem;
  padding-right: 10px;
  text-align: center;
}

.c-info a,
.c-info p {
  color: black;
  font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    padding: 30px 15px;
  }
  .c {
    height: 0;
  }
}
