.intro {
  display: flex;
  height: 70vh;
}

.intro-left {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.intro-right {
  flex: 1;
  position: relative;
  text-align: center;
}

.i-left-wrapper {
  padding: 100px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-right-wrapper {
  height: 70%;
  padding-left: 50px;
}

.i-intro {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.i-name {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
}

.i-title {
  height: 50px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 1.875rem;
  color: #2d60a8;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.i-img {
  position: absolute;
  left: 20%;
  bottom: 0;
  width: 33vw;
}

.i-desc p {
  line-height: 1.6;
  font-size: 1.3rem;
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #373837;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.i-sm-icon i {
  font-size: 3rem;
  cursor: pointer;
  color: black;
}

.i-sm-icon i:hover {
  color: #2d60a8;
}

.intro-m-right {
  display: none;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 0px;
    height: 100vh;
    justify-content: flex-start;
  }

  .i-name {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .i-title {
    padding-left: 15px;
  }
  .i-sm-icon {
    margin-top: 20px;
    text-align: center;
  }
  .i-desc p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .i-img {
    display: none;
  }

  .i-m-bg {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #373837;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .i-m-right-wrapper {
    height: 70%;
  }

  .i-m-img {
    position: absolute;
    height: 100%;
    bottom: 0;
  }

  .intro-m-right {
    display: block;
    flex: 1;
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .i-intro {
    padding-left: 15px;
    padding-top: 15px;
  }
}
